

{% extends "base.html" %}
{% block title %}Create Bucket-list{% endblock %}
{% block body %}
<form>
  <div class="form-group">
    <label for="activity">New Bucket-list</label>
    <input type="text" class="form-control" id="text">
    <input type="text" class="form-control" id="text">
    <input type="text" class="form-control" id="text">
    <input type="text" class="form-control" id="text">
    <input type="text" class="form-control" id="text">
  </div>
  
  
  <button type="submit" class="btn btn-default">Create</button>
</form>

{% endblock %}