
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="section-heading"></h6>
                    <a class="links1" href="create.html">Create Bucketlist</a><br><br>
                    <a class="links1" href="viewblist.html">My Bucketlist</a><br><br>
                    <a class="links1" href="Add.html">Add Activities</a>
                    <h6 class="section-heading"></h6>

                </div>
            </div>
        </div>
    </section> -->
    <div class="container">
  			<div class="row main">
  				<div class="main-login main-center">
          <h1>Create the bucketlist below</h1>



        <form action="" method="post">
            {{ form.csrf }}
                </br></br>
            <div class="input text">
                {{ form.name.label }} {{ form.name }}
            </div>
          </br>
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>


          </div>
          <br/>
          
          <a href="viewblist.html">View bucketlist</a>
        </div>
      </div>
{% endblock %}
